<div id="header">
<h1>Register For Upcoming Interview Sessions</h1>
</div>
<div id="container">
	<div id="schedcontent">
<h3>Every Tuesday and Thursday at 11am</h3>

<form action="/upcomings" method="POST">
	<input type="hidden" name="authenticity_token" value="d+9wv7RwRnMflcGeegV1IkLMxiutFy6twk0ysG6WPq69irNDh47z6DWCP2Q2tXwf1DgYI6frirYwKYFsY91WEQ==">

<div class="dates">
	<% if Date.tomorrow != @next_tuesday || 2.days.from_now != @next_tuesday %>

		<div>
			<span>Tuesday  <%= @next_tuesday.month %>/<%= @next_tuesday.day %> </span>
			<input type="checkbox" name="upcoming[1_tuesday]" value="<%= @next_tuesday %>" />
		</div>
	<% end %>

	<% if Date.tomorrow != @next_thursday || 2.days.from_now.to_date != @next_thursday %>
		<div>
		<span>Thursday  <%= @next_thursday.month %>/<%= @next_thursday.day %> </span>
		<input type="checkbox" name="upcoming[1_thursday]" value="<%= @next_thursday %>" />
	</div>
	<% end %>

	<div>
		<span>Tuesday  <%= @following_tuesday.month %>/<%= @following_tuesday.day %> </span>
		<input type="checkbox" name="upcoming[2_tuesday]" value="<%= @following_tuesday %>" />
	</div>
	<div>
		<span>Thursday  <%= @following_thursday.month %>/<%= @following_thursday.day %> </span>
		<input type="checkbox" name="upcoming[2_thursday]" value="<%= @following_thursday %>" />
		</div>
	</div>
	<div class="actions">
		<input type="submit" value="Schedule Those Interviews!"/>
	</div>
</form>
</div>
</div>
