<h1>Register For Upcoming Interview Sessions</h1>

<h3>Every Tuesday and Thursday at 11am</h3>

<form action="/upcomings" method="POST">
	<input type="hidden" name="authenticity_token" value="d+9wv7RwRnMflcGeegV1IkLMxiutFy6twk0ysG6WPq69irNDh47z6DWCP2Q2tXwf1DgYI6frirYwKYFsY91WEQ==">
	
	<% if Date.tomorrow != Date.current.next_week(:tuesday).month || 2.days.from_now != Date.current.next_week(:tuesday).month %>
		<div>
			<span>Tuesday  <%= Date.current.next_week(:tuesday).month %>/<%= Date.current.next_week(:tuesday).day %> </span>
			<input type="checkbox" name="upcoming[1_tuesday]" value="<%= Date.current.next_week(:tuesday) %>" />
		</div>
	<% end %>

	<% if Date.tomorrow != Date.current.next_week(:thursday) || 2.days.from_now != Date.current.next_week(:thursday) %>
		<div>
		<span>Thursday  <%= Date.current.next_week(:thursday).month %>/<%= Date.current.next_week(:thursday).day %> </span>
		<input type="checkbox" name="upcoming[1_thursday]" value="<%= Date.current.	next_week(:thursday) %>" />
	</div>
	<% end %>

	<div>
		<span>Tuesday  <%= Date.current.next_week.next_week(:tuesday).month %>/<%= Date.current.next_week.next_week(:tuesday).day %> </span>
		<input type="checkbox" name="upcoming[2_tuesday]" value="<%= Date.current.next_week.next_week(:tuesday) %>" />
	</div>
	<div>
		<span>Thursday  <%= Date.current.next_week.next_week(:thursday).month %>/<%= Date.current.next_week.next_week(:thursday).day %> </span>
		<input type="checkbox" name="upcoming[2_thursday]" value="<%= Date.current.	next_week.next_week(:thursday) %>" />
	</div>

	<input type="submit" value="Schedule Those Interviews!"/>
</form>
