<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h1>Hey <%= @user.name %></h1>

		<p>So your partner for this week will be <%= @partner.name %>. The session will start at 11am, let us know if you will be running late. Your question to ask this session will be: </p>

		<p><%= @question %></p>

		<p>Try and solve it, see how you do!</p>

		<p>Your partner is <%= @partner.name %>, and you can reach them at <%= @partner.email %>. If you see anything broken, please let me know. I built this out in a few hours so there's bound to be a few bugs. Thanks again for being a part of this, lets all get better together! Please forward me this email so I know that everyone received it (working out a few bugs.)</p>

		<p>Cheers,</p>

		<p>John</p>
	</body>
</html>