<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h1>Hey <%= @user.name %>,</h1>

		<p>So you should be recieving this email, if so please forward it to john@johnmaguiredeveloper.com so I know that you have recieved it. If this were a real a session your question would be: </p>

		<p><%= @question %></p>

		<p>Try and solve it, see how you do!</p>

		<p>You are in a group of 3, along with <%= @partner1.name %> and <%= @partner2.name %>, though you will be asking <%= partner1.name %> the question you have recieved. You can reach them at <%= @partner1.email %> and <%= partner2.email %> respectively. If you see anything broken, please let me know. I built this out in a few hours so there's bound to be a few bugs. Thanks again for signing up and helping me get this up and running! </p>


		<p>Cheers,</p>

		<p>John</p>
	</body>
</html>