<h1> Hello <%= current_user.name %></h1>

<%= link_to 'Register for Upcoming Interview Sessions', new_upcoming_path %>

<p>Registered Interview Dates</p>

<% @user.upcomings.each do |upcoming| %>
	<li><%= upcoming.date.strftime("%A")%> <%= upcoming.date.month %>/<%= upcoming.date.day %></li>
<% end %>

<% @user.interviews.reverse.each do |interview| %>
	<li><%= link_to "#{interview.date}", interview_path(interview.id) %></li>
<% end %>