<!DOCTYPE html>
<html>
<head>
  <title>MockInterviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/923b5ec59b.js"></script>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<footer>
	<div class="description">
		<p>App built for Dev Bootcamp Alumni to practice whiteboarding technical interview questions with a partner. Sessions happen twice a week, and those registered for a session are paired and assigned a question to ask their partner two days before the session.</p>
	</div>
	<div>
		<p>Built By John Maguire: <a href='https://github.com/jm96441n'>Github</a> <a href='https://www.linkedin.com/in/johnmaguire1'>LinkedIn</a> <a href='http://johnmaguiredeveloper.com/'>Website</a></p>
		<p>Designed By Lisa Buch: <a href='https://github.com/LisaBee224'>Github</a> <a href='https://www.linkedin.com/in/lisabuch'>LinkedIn</a> <a href='http://lkbdesign.com/'>Website</a></p>
	</div>
	<div>
		<p>Contact Us!</p>
		<a href="mailto:john@johnmaguiredeveloper.com">John</a>
		<a href="mailto:john@johnmaguiredeveloper.com">Lisa</a>
	</div>
	<div>
		<p>Check out the source code <a href="https://github.com/jm96441n/dbc_mock_interviews">HERE</a>!</p>
	</div>
</footer>
</body>
</html>
